body {
    background-color: #1f2933 !important;
    color: #f5f7fa !important;
    padding-top: 60px !important;
    padding-bottom: 40px !important;
}

.todo-container {
    color: black !important;
    margin-top: 2rem !important;
}