.todo-input {
    width: 30rem;
    height: 3rem;
    border-radius: 0;
}

.form-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-text-btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}